<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21441704756-mqq085a365m1bacm81kon9f1ds95btbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21441704756-mqq085a365m1bacm81kon9f1ds95btbq</string>
	<key>API_KEY</key>
	<string>AIzaSyAl9kq5B8bfSjMiQ4KZvVebgKwckqF-Bv8</string>
	<key>GCM_SENDER_ID</key>
	<string>21441704756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokTutorial</string>
	<key>PROJECT_ID</key>
	<string>tiktok-tutorial-65ce1</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-tutorial-65ce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21441704756:ios:b1d1e5aea35c9962286b61</string>
</dict>
</plist>